.page {
  height: 100vh;      /* hauteur de l’écran */
  display: flex;
  flex-direction: column;
}

.classement-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  flex: 0.5;
}

.classement-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;

}

.classement-table {
  width: 50%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  margin-left: 450px;

}

.classement-table thead {
  background: #1e293b;
  color: white;
}

.classement-table th,
.classement-table td {
  padding: 12px 16px;
  text-align: left;
}

.classement-table th {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.05em;
}

.classement-table tbody tr:nth-child(even) {
  background-color: #f8fafc;
}

.classement-table tbody tr:hover {
  background-color: #e2e8f0;
  transition: background-color 0.2s ease;
}

.rank {
  font-weight: bold;
  text-align: center;
  width: 50px;
}

.points {
  text-align: center;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 600px) {
  .classement-table th,
  .classement-table td {
    padding: 10px;
    font-size: 14px;
  }
}
